@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #f8f9fd;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 300px;
}

.tittle{
    margin: 0;
}

.subtitle{
    display:inline-block;
    margin: 5px 0 10px;
    opacity: 0.8;
}

.header{
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
}

.header input{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
    border: 0;
    width: 100%;
    font-size: 15px;
}

.header input:focus{
    outline: none;
}

.user-list{
    max-height: 400px;
    background-color: #fff;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
    padding: 0;
}

.user-list li{
    display: flex;
    padding: 20px;
}

.user-list img{
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-info{
    margin-left: 10px;
}

.user-info h4{
    margin: 0;
}
.user-info p{
    font-size: 0.9rem;
}

.user-list li:not(:last-of-type){
    border-bottom: 1dvw solid #eee;
}

.user-list li.hide{
    display: none;
}
