@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    display: flex;
    background-color: steelblue;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    padding: 20px 40px;
    background-color: rgb(0, 0, 0,0.4);
    border-radius: 12px;
}
.container h1{
    text-align: center;
    margin-bottom:30px ;
}
.container a{
    color:lightblue;
    text-decoration: none;
}
.btn{
    cursor: pointer;
    padding: 12px ;
    background-color: lightblue;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: scale(0.95);
}
.form-control{
    position: relative;
    width: 300px;
    margin: 20px 0 40px;
}
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: #fff solid 2px;
    display: block;
    width: 100%;
    padding: 12px 0;
    color: #fff;
    font-size: 22px;
}
.form-control input:focus, .form-control input:valid{
    outline: none;
}
.text{
    margin-top: 35px;
}
.form-control label{
    position: absolute;
    top: 20px;
    left: 0;
}
.form-control label span{
    display:inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.58,-0.55,0.265,1.55);
}
.form-control input:focus +label span,
.form-control input:valid +label span{
    color: lightblue;
    transform: translateY(-30px);
}